extra_streamlit_components==0.1.60
keras==2.14.0
matplotlib==3.5.3
mpld3==0.5.10
numpy==1.26.2
pandas==1.4.4
Pillow==10.1.0
plotly==5.15.0
scikit_learn==1.1.2
seaborn==0.13.0
st_pages==0.4.5
streamlit==1.23.1
streamlit_extras==0.3.6
streamlit_plotly_events==0.0.6
tensorflow==2.13.0
tensorflow_intel==2.14.0
~ensorflow_intel==2.13.0
